{% extends 'mail/base.html' %}

{% block title %}Message - CubelessMail{% endblock %}

{% block sidebar %}
{% include 'mail/partials/sidebar_folders.html' %}
{% endblock %}

{% block content %}
<div class="p-4" style="padding-bottom: 0;">
    <a href="{% if current_folder == 'INBOX' %}{% url 'inbox' %}{% else %}{% url 'folder_inbox' folder_name=current_folder %}{% endif %}" class="btn btn-secondary mb-4">&larr; Back to {{ current_folder }}</a>
</div>
{% include 'mail/partials/message_detail_body.html' %}
{% endblock %}
